<div class="answer">
  <h1>Stupid coaching</h1>

  <%= @answer %>

    <button type="button" class="btn btn-danger" color="white">
      <%= link_to "Know more about us", ask_path %>
    </button>
</div>
